<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {
			$('#buscar-producto').autocomplete({
				source: (request, response) => {
					$.ajax({
						url: "/factura/cargar-productos/" + request.term,
						dataType: "json",
						data: {
							term: request.term
						},
						success: (data) => {
							response($.map(data, (item) => {
								return {
									value: item.id,
									label: item.nombre,
									precio: item.precio,
								};
							}))							
						},
					});
				},
				focus: (event, ui) => {
					event.preventDefault();
					$('#buscar-producto').val(ui.item.label);
				},
				select: (event, ui) => {
					$('#buscar-producto').val(ui.item.label);
					return false;
				},
			}).keydown((e) => {
		        let code = (e.keyCode ? e.keyCode : e.which);
		        let codeBackspace = 8;
		        let codeSup = 46;
		        if (code == codeBackspace) {
		            if (countCodeBackspace == 4) {
		                $('#buscar-producto').val('');
		            } else {
		                countCodeBackspace++;
		            }
		        } else if (code == codeSup) {
		            if (countCodeSup == 4) {
		            	$('#buscar-producto').val('');
		            } else {
		                countCodeSup++;
		            }
		        } else {
		            countCodeBackspace = 0;
		            countCodeSup = 0;
		        }
		    });
		});
	</script>
</body>
</html>