<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<header th:replace="layout/layout::header"></header>
	<main class="container">
		<h1 th:text="${titulo}" class="text-center my-3"></h1>
		<div class="card mt-5">
			<div class="card-body">
				<div th:object="${factura}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/factura/form}" th:object="${factura}" method="POST" autocomplete="off">
					<div class="mb-3">
						<label class="form-label">Cliente</label> 
						<input type="text" class="form-control" disabled th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}">
					</div>
					<div class="mb-3">
						<label for="descripcion" class="form-label">Descripción</label> 
						<input type="text" class="form-control" th:field="*{descripcion}">
						<div class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
					</div>
					<div class="mb-3">
						<label for="observacion" class="form-label">Observación</label> 
						<textarea class="form-control" th:field="*{observacion}"></textarea>
						<div class="form-text text-danger" th:if="${#fields.hasErrors('observacion')}" th:errors="*{observacion}"></div>
					</div>
					
					<button type="submit" class="btn btn-primary" th:text="${titulo}"></button>
				</form>
			</div>
		</div>
	</main>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>