<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<header th:replace="layout/layout::header"></header>
	<main class="container mt-4">
		<div class="card" style="width: 18rem;">
			<img th:if="${cliente.foto != null and (#strings.length(cliente.foto) > 0)}" th:src="@{/uploads/} + ${cliente.foto}" class="card-img-top" th:alt="${cliente.foto}">
			<img th:if="${cliente.foto == null or not (#strings.length(cliente.foto) > 0)}" th:src="@{/images/default.png}" class="card-img-top" alt="Sin foto">
			<div class="card-body">
				<h5 class="card-title" th:text="${titulo}"></h5>
				<p class="card-text">
					<ul class="list-group">
						<li class="list-group-item" th:text="${cliente.nombre}"></li>					
						<li class="list-group-item" th:text="${cliente.apellido}"></li>					
						<li class="list-group-item" th:text="${cliente.email}"></li>					
						<li class="list-group-item" th:text="${cliente.createAt}"></li>					
					</ul>
				</p>
			</div>
		</div>
	</main>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>